// Roboto Thin
@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Thin'),
    url('@/assets/fonts/Roboto-Thin.ttf') format('truetype'),
    url('@/assets/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-ThinItalic'),
    url('@/assets/fonts/Roboto-ThinItalic.ttf') format('truetype'),
    url('@/assets/fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

// Roboto Light
@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Light'),
    url('@/assets/fonts/Roboto-Light.ttf') format('truetype'),
    url('@/assets/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-LightItalic'),
    url('@/assets/fonts/Roboto-LightItalic.ttf') format('truetype'),
    url('@/assets/fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

// Roboto Regular
@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Regular'),
    url('@/assets/fonts/Roboto-Regular.ttf') format('truetype'),
    url('@/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Italic'),
    url('@/assets/fonts/Roboto-Italic.ttf') format('truetype'),
    url('@/assets/fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

// Roboto Medium
@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Medium'),
    url('@/assets/fonts/Roboto-Medium.ttf') format('truetype'),
    url('@/assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-MediumItalic'),
    url('@/assets/fonts/Roboto-MediumItalic.ttf') format('truetype'),
    url('@/assets/fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

// Roboto Bold
@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Bold'),
    url('@/assets/fonts/Roboto-Bold.ttf') format('truetype'),
    url('@/assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-BoldItalic'),
    url('@/assets/fonts/Roboto-BoldItalic.ttf') format('truetype'),
    url('@/assets/fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

// Roboto Black
@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Black'),
    url('@/assets/fonts/Roboto-Black.ttf') format('truetype'),
    url('@/assets/fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-BlackItalic'),
    url('@/assets/fonts/Roboto-BlackItalic.ttf') format('truetype'),
    url('@/assets/fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Play-Bold'),
    url('@/assets/fonts/Play-Bold.ttf') format('truetype'),
    url('@/assets/fonts/Play-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Play-Regular'),
    url('@/assets/fonts/Play-Regular.ttf') format('truetype'),
    url('@/assets/fonts/Play-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src:
    local('Play-Bold'),
    url('@/assets/fonts/Play-Bold.ttf') format('truetype'),
    url('@/assets/fonts/Play-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Play-Regular'),
    url('@/assets/fonts/Play-Regular.ttf') format('truetype'),
    url('@/assets/fonts/Play-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src:
    local('Play-Bold'),
    url('@/assets/fonts/Play-Bold.ttf') format('truetype'),
    url('@/assets/fonts/Play-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Play-Regular'),
    url('@/assets/fonts/Play-Regular.ttf') format('truetype'),
    url('@/assets/fonts/Play-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
